@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

@import 'fonts.css';

/* header */
.header{
	font-family: 'Larsseit', sans-serif;
	font-weight: 600;
	font-size: 25px;
	color: darkblue;

}

/* main */


.navigation {
	font-family: 'Larsseit', sans-serif;
	font-size: 18px;
	color: blue;
}

section *{
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	
}
img {
	color:darkmagenta;
	font-size: 13px;
}
.list{
	font-family: 'Larsseit', sans-serif;
	font-weight: 400;
	font-size: 10px;
}
.item li{
	color: chartreuse;
	
}
.sub-item li{
color: chocolate;
font-size: 15px;
}
#first,
#second,
#third {
	font-family: 'Larsseit', sans-serif;
	font-weight: 900;
	font-size: 18px;
}
section h2{
	color: red;
}

/* footer */

.footer div .media2{
	color: blue;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
}
.footer .media p{
	color: blueviolet;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.media1,
.media2 {
	color: chartreuse;
}
.footer + p{
	color: coral;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 24px;
}
#third span{
	color: darkgrey;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}
.footer ~ a {
	color: cyan;
}